---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm';
---

<Layout title="RedNorte - Iniciar Sesión">
  <section class="py-12">
    <LoginForm client:load />
  </section>
</Layout>
