---
import Layout from '../layouts/Layout.astro';
import RegisterForm from '../components/RegisterForm';
---

<Layout title="RedNorte - Registro">
  <section class="py-12">
    <RegisterForm client:load />
  </section>
</Layout>
